@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900');

body{
	background: #d5f2dd;
	font-family: 'Lexend', sans-serif;
	margin: 3.4em 5em 3em 5em;
}

a{
	color: #3c78d8;
	text-decoration: none;
}

a:hover{
	filter: brightness(120%);
}

a:active{
	filter: brightness(80%);
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-image{
	width: 15em;
	margin: 0.5em;
}

.video iframe{
	aspect-ratio: 16 / 9;
}

.document iframe{
	aspect-ratio: 4 / 3;
}

.gallery-image img,
.video iframe,
.document iframe{
	width: 100%;
	border: 0.1em solid #0c4466;
}

.caption{
	font-size: small;
	text-align: center;
	padding: 0.7em 0 1.5em 0;
}
